numpy==1.26.4
opencv-python-headless>=4.8.0.74
Pillow>=10.0.0
flask
openpyxl
pandas
gunicorn
https://github.com/z-mahmud22/Dlib_Windows_Python3.x.git/dlib-19.24.1-cp311-cp311-win_amd64.whl
face_recognition==1.3.0
